# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Generated docs and platform temp files
doc/api/
ios/Flutter/.last_build_id

# Symbolication artifacts
app.*.symbols

# Obfuscation maps
app.*.map.json

# Android build outputs
android/app/debug/
android/app/profile/
android/app/release/
